.app.dark {
    --bg-color: #07074f;
    --inverted-bg-color: #9d9db3;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0d33a4;
    --inverted-secondary-color: #051d50;
}
