.app_dark_theme {
    --bg-color: #07074f;
    --inverted-bg-color: #9d9db3;
    --primary-color: #08cf08;
    --secondary-color: #088308;
    --inverted-primary-color: #0d33a4;
    --inverted-secondary-color: #051d50;
}
